input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    box-shadow: none;
    border: 2px solid #f46f20
}

input[type=text], input[type=email], input[type=password] {
    border: 2px solid #f46f20
}

.register {
    position: relative;
    color: #5f2529
}

.register:after {
    content: "";
    position: absolute;
    top: 35px;
    left: 1px;
    background-color: #f46f20;
    width: 10%;
    height: 7px;
    z-index: -1;
}